* {
  margin: 0;
  padding: 0;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
}

.board-container {
  width: 600px;
  height: 600px;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.square-black {
  background: #B59963;
}

.square-white {
  background: #F0D9B5;
}

.board-square {
  width: 100%;
  height: 100%;
}